@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KoddiUDOnGothic";
  src: url("../public/fonts/KoddiUDOnGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "KoddiUDOnGothic";
  src: url("../public/fonts/KoddiUDOnGothic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "KoddiUDOnGothic";
  src: url("../public/fonts/KoddiUDOnGothic-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: block;
}

html {
  font-family: "KoddiUDOnGothic", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.prose * {
  color: var(--foreground);
}

.prose .full-height {
  min-height: 100%;
}

.prose p + h2 {
  margin-top: 1.5rem;
}

.prose p + p {
  margin-top: 1rem;
}

.prose svg {
  display: inline-block;
}

.prose *:has(svg) {
  display: inline-flex;
  column-gap: 0.5rem;
}

@media screen {
  .page-break {
    height: 0;
    page-break-after: always;
    margin: 1rem 0;
    border-top: 1px dashed #999;
  }
}

@media print {
  @page {
    size: a4;
    margin: 2cm;
    font-size: 12pt;
    counter-increment: page;
  }

  @page {
    @bottom-center {
      content: counter(page);
      font-size: 8pt;
    }
  }

  body * {
    visibility: hidden;
  }

  .printable,
  .printable * {
    visibility: visible;
  }

  .printable {
    position: absolute;
    left: 0;
    top: 0;
    zoom: 1 !important;
  }

  .page-break {
    height: 0;
    page-break-after: always;
    margin: 0;
    border: none;
  }
}
